[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]

[packages]
attrs = "*"
click = "*"
jinja2 = "*"
markdown = "*"
pygments = "*"
toml = "*"
pygit2 = "==0.27.4"

[requires]
python_version = "3.7"
