:root {
  --base0: #2b3235;
  --base1: #394246;
  --base2: #495659;
  --base3: #c7c5bb;
  --base4: #e1dfda;
  --base5: #fcfcfc;
  --red: #ff3838;
  --orange: #d36900;
  --yellow: #8c8c00;
  --lime: #4c9900;
  --green: #009e00;
  --teal: #009972;
  --cyan: #0095a3;
  --blue: #0c85ff;
  --indigo: #7777ff;
  --purple: #ae5eff;
  --magenta: #ed00ed;
  --pink: #ff2391;
}

.base0 {color: var(--base0)}
.base1 {color: var(--base1)}
.base2 {color: var(--base2)}
.base3 {color: var(--base3)}
.base4 {color: var(--base4)}
.base5 {color: var(--base5)}
.red {color: var(--red)}
.orange {color: var(--orange)}
.yellow {color: var(--yellow)}
.lime {color: var(--lime)}
.green {color: var(--green)}
.teal {color: var(--teal)}
.cyan {color: var(--cyan)}
.blue {color: var(--blue)}
.indigo {color: var(--indigo)}
.purple {color: var(--purple)}
.magenta {color: var(--magenta)}
.pink {color: var(--pink)}

html,
body {
  background-color: var(--base0);
  color: var(--base5);
  font-family: "Fira Mono";
  font-size: 11pt;
}

.container {
  padding: 2rem 0;
  max-width: 48rem;
  color: var(--base5);
}

code,
kbd,
pre {
  font-family: "Fira Mono";
}

code {
  background-color: inherit;
  border: 1px solid var(--base2);
  border-radius: 0;
  margin: 0;
  padding: 0.2rem;
}

code:hover {
  background-color: var(--base2);
}

pre > code,
.highlight pre {
  border-color: var(--base2);
  border-style: solid;
  border-width: 0 0 0 1px;
  margin: 1rem;
  padding: 0.2rem 0.5rem;
}

pre,
blockquote,
dl,
figure,
table,
p,
ul,
ol,
form {
  margin-bottom: 1rem;
}

li {
  margin-bottom: 0;
}

a {
  color: var(--cyan);
  text-decoration: none;
}

nav a,
nav .current {
  color: var(--teal);
  font-weight: bold;
  margin-right: 1rem;
}

nav#pagination a {
  color: var(--indigo);
}

a.more {
  color: var(--base3);
}

a:hover,
nav a:hover,
nav#pagination a:hover {
  color: var(--base5);
}

nav .current {
  color: var(--base5);
}

hr {
  border-bottom: 1px solid var(--base2);
  border-width: 0 0 1px 0;
  width: 8rem;
}

article {
  margin: 2rem 0;
}

article header {
  font-size: 1rem;
  font-weight: bold;
}

article .byline {
  display: block;
  color: var(--base3);
  margin-bottom: 1rem;
}

article .byline a {
  color: var(--base3);
}

article .byline a:hover {
  color: var(--base5);
}

article time:hover {
  color: var(--orange);
}

article .author:hover {
  color: var(--purple);
}

article .repo a:hover {
  color: var(--teal);
}

article h1,
article h2,
article h3,
article h4,
article h5,
article h6 {
  font-weight: bold;
  letter-spacing: 0;
  font-size: 1rem;
}


/*
h1, h2, h3, h4, h5, h6 {
  font-weight: bold;
  letter-spacing: 0;
}

h1 { font-size: 2.0rem; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.25rem; }
h4, h5, h6 { font-size: 1.0rem; }
*/
